/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

@font-face {
	font-family: 'Isonorm';
	src: url('../fonts/Isonorm.otf')
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text: #fff;
	--color-text-secundair: rgb(141, 143, 153);
	--color-background: #0b0c0e;
	--color-social-background: rgb(30, 32, 37);
	--color-selected: #f7941e;
	--color-border: darkgrey;
	--color-border-linear: linear-gradient(to right, rgb(183, 77, 28), rgb(238, 196, 42)) 1;
	--color-button-linear: linear-gradient(to right, rgb(247, 148, 30), rgb(238, 196, 42));
	--color-christmas-theme-button: repeating-linear-gradient(45deg, rgb(131, 14, 16), rgb(131, 14, 16) .5em, rgb(255, 255, 255) .5em, rgb(255, 255, 255) 1em) 1;  /*bron: https://css-tricks.com/books/greatest-css-tricks/hard-stop-gradients/*/
	--color-dropdown-box: #0b0c0e;
	--color-reclame: #f7941e;
	--color-overlay: linear-gradient(to bottom, rgba(0, 0, 0, 0.033), rgba(11, 12, 14, 1));
	/* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/rgb + https://webdevetc.com/blog/how-to-add-a-gradient-overlay-to-a-background-image-using-just-css-and-html/*/
	--color-box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

@media (prefers-color-scheme: light) {
	:root {
		--color-text: #0b0c0e;
		--color-text-secundair: rgb(56, 56, 59);
		--color-background: #fff;
		--color-social-background: rgb(255, 228, 210);
		--color-selected: #f7941e;
		--color-border: rgb(128, 128, 128);
		--color-border-linear: linear-gradient(to right, rgb(183, 77, 28), rgb(238, 196, 42)) 1;
		--color-button-linear: linear-gradient(to right, rgb(247, 148, 30), rgb(238, 196, 42));
		--color-christmas-theme-button: repeating-linear-gradient(45deg, rgb(255, 0, 4), rgb(255, 0, 4) .5em, rgb(88, 142, 0) .5em, rgb(88, 142, 0) 1em) 1;  /*bron: https://css-tricks.com/books/greatest-css-tricks/hard-stop-gradients/*/
		--color-dropdown-box: #e1e1e1;
		--color-reclame: #f7941e;
		--color-overlay: linear-gradient(to bottom, rgba(255, 255, 255, 0.033), rgb(255, 255, 255));
		/* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/rgb + https://webdevetc.com/blog/how-to-add-a-gradient-overlay-to-a-background-image-using-just-css-and-html/*/
		--color-box-shadow: rgba(247, 148, 230, 0.35) 0px 5px 15px;
	}

	a, p{
		font-weight: 500;
	}

	header button img{
		filter: invert(100%);
	}

	article h2{
		color: var(--color-background);
		text-shadow: 1px 1px 2px var(--color-text-secundair);
	}

	article a {
		font-weight: 700;
	}

	footer:not(body.ticket footer){
		background-color: var(--color-reclame);
		color: var(--color-background);
	}

	footer select {
		width: 90%;
		margin-left: 1.4em;
	}

	footer section:last-of-type li:first-of-type img{
		filter: brightness(0) invert(100%);
	}
}

@media (prefers-reduced-motion: reduce) {

  	@keyframes clickButton2{
	0%{
		scale:1;
	  }
	  10%{
		translate:0em 0em;
		scale:1.2 .8; 
	  }
	  40%{
		scale:1 1;
	  }
	  50%{
		scale:1;
	  }
	  100%{
		scale:1;
	  }
	}

	@keyframes itsMe2 {
	0% {
		transform: rotate(0deg);
	  scale: 1;
	}
	20% {
		transform: rotate(-10deg);
	}
	40% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(-10deg);
	}
	80% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0deg);
	  scale: 1;
	}
	}

	body button:active {
		animation-name: clickButton2;
		animation-duration: 2s;
		animation-iteration-count: 1;
	}

	body a:active, main a:active {
		box-shadow: none;
		background-color: var(--color-selected);
		color: var(--color-background);
		animation-name: clickButton2;
		animation-duration: 2s;
		animation-iteration-count: 1;
	}

	body main>section:nth-of-type(2)>button:nth-of-type(2) {		/*per film button styling*/
		animation-name:clickButton2;
		animation-duration: 2s;
		animation-iteration-count: 1;
		animation-delay: 4s;
	}

	body main>section:first-of-type p>img{
		width: 2em;
		animation-name: itsMe2;
		animation-duration: 2s;
		animation-iteration-count: 2;
	}
}

@media (prefers-contrast: more) {
	:root {
		--color-text: #fff;
		--color-text-secundair: rgb(239, 227, 198);
		--color-background: #000000;
		--color-social-background: rgb(29, 29, 31);
		--color-selected: #f7941e;
		--color-border: rgb(255, 0, 0);
		--color-border-linear: linear-gradient(to right, rgb(183, 77, 28), rgb(238, 196, 42)) 1;
		--color-button-linear: linear-gradient(to right, rgb(255, 156, 34), rgb(238, 196, 42));
		--color-christmas-theme-button: repeating-linear-gradient(45deg, rgb(188, 0, 3), rgb(188, 0, 3) .5em, rgb(255, 255, 255) .5em, rgb(255, 255, 255) 1em) 1;  /*bron: https://css-tricks.com/books/greatest-css-tricks/hard-stop-gradients/*/
		--color-dropdown-box: #3269d5;
		--color-reclame: #f7941e;
		--color-overlay: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(11, 12, 14, 1));
		/* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/rgb + https://webdevetc.com/blog/how-to-add-a-gradient-overlay-to-a-background-image-using-just-css-and-html/*/
		--color-box-shadow: rgba(255, 255, 255, 0.6) 0px 5px 15px;
	}
}


.christmas {
		--color-text: #e9e5e1;
		--color-text-secundair: #fedfb0;
		--color-background: rgb(0, 20, 4);
		--color-social-background: #830e10;
		--color-selected: #f7941e;
		--color-border: gold;
		--color-border-linear: repeating-linear-gradient(45deg, rgb(131, 14, 16), rgb(131, 14, 16) .5em, rgb(255, 255, 255) .5em, rgb(255, 255, 255) 1em) 1;  /*bron: https://css-tricks.com/books/greatest-css-tricks/hard-stop-gradients/*/
		--color-button-linear: linear-gradient(to right, rgb(247, 148, 30), rgb(131, 14, 16));
		--color-return-theme-button: repeating-linear-gradient(45deg, rgb(131, 14, 16), rgb(131, 14, 16) .5em, rgb(255, 255, 255) .5em, rgb(255, 255, 255) 1em) 1;  /*bron: https://css-tricks.com/books/greatest-css-tricks/hard-stop-gradients/*/
		--color-dropdown-box: #520c0c;
		--color-reclame: #f7941e;
		--color-overlay: linear-gradient(to bottom, rgba(255, 255, 255, 0.033), rgb(48, 58, 67));
		/* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/rgb + https://webdevetc.com/blog/how-to-add-a-gradient-overlay-to-a-background-image-using-just-css-and-html/*/
		--color-box-shadow: rgba(255, 0, 0, 0.35) 0px 5px 15px;
}

:focus-visible {
	border: 5px dashed var(--color-text);
	scale: 1.1;
	padding: .1em;
}




/****************/
/* Hoofd selectors */
/****************/
body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: 'Isonorm', sans-serif;
	position: relative;
}

header {
	display: grid;
	grid-template-columns: auto 1fr;
	position: sticky;
	top: 0;
	background-color: var(--color-background);
	z-index: 1;
}

body:not(.ticket) nav {
	padding: 1em;

	display: grid;
	align-content: start;
	gap: 1em;

	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: scroll;
	translate: -100% 0%;
	

	transition: translate .3s;

	background-color: var(--color-social-background);
}

section {
	margin: .5em;
}

article {
	background-image: var(--color-overlay), url(../images/coriolanus-snow-and-lucy-grey.jpeg);		/* bron: https://webdevetc.com/blog/how-to-add-a-gradient-overlay-to-a-background-image-using-just-css-and-html/ of							linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));  bron: https://stackoverflow.com/questions/36679649/how-to-add-a-color-overlay-to-a-background-image*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 2.5em;
	margin: 1em 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(20em, 100%), 1fr));
	gap: 2em;
}

ol {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

li {
	display: grid;
	gap: 1em;
	grid-template-columns: auto 1fr;
	grid-column-start: 1;
	padding: 2em 0;
	border-bottom: 1px solid var(--color-border);
}

h1 {
	font-size: 2em;
	text-transform: uppercase;
	margin: .4em;
}

h2 {
	font-size: 1.5em;
	text-transform: uppercase;
	margin: 0;
}

h3 {
	font-size: 1.2em;
	margin-left: .5em;
}

p {
	font-size: 1.2em;
	color: var(--color-text-secundair);
}

img {
	width: 33%;
	height: auto;
}

/*Dropdown*/
select {
	grid-column: span 3;
	/*check of het ook invloed heet op de footer select. zo niet dan aanpassen*/
	width: 100%;
	background-color: var(--color-dropdown-box);
	color: var(--color-text);
	font-size: 1em;
	border: 0;
	border-bottom: 1px solid var(--color-border);
	padding: .5em .5em;
	margin: 1em 0;
}

select:active, select:hover, select:focus {
	border: 2px solid var(--color-selected);
}

form {
	margin: 1em 0;
	grid-column: span 3;
	justify-content: space-between;
}

input {
	background-color: var(--color-social-background);
	border: 1px solid var(--color-selected);
	border-radius: .5em;
	height: 3.5em;
	color: white;
	width: 16em;
}

input:hover {
	width: 100%;
	background-color:var(--color-background);
}

input:focus {
	width: 100%;
	background-color:var(--color-background);
	caret-color: var(--color-selected);
}

details{
	border-bottom: 1px solid var(--color-border);
	margin: 1em 0;
	padding-bottom: 1em;
}

summary{
	list-style: none;
	display: grid;
	grid-template-columns: repeat(7,1fr);
}

dl{
	display: grid;
	grid-template-columns: repeat(7,1fr);
	text-transform: uppercase;
	font-size: 1.2em;
}

dt{
	grid-column-start: 3;
	text-transform: uppercase;
	color: var(--color-text-secundair);
	padding-left: 1.2em;
	margin-bottom: .2em;
}

dd{
	grid-column-start: 4;
	grid-column-end: 7;
	color: var(--color-text);
	padding-left: .8em;
}



/****************/
/*Buttons/ links*/
/****************/

button {
	background-color: var(--color-background);
	color: var(--color-text);
	padding: .5em 1em .5em 1em;
	border: none;
	border-radius: .5em;
	text-align: center;
}

button:hover {
	background-color: var(--color-selected);
	color: var(--color-text);
	cursor: pointer;
	box-shadow: var(--color-box-shadow);
}

button:active {
	animation-name: clickButton;
	animation-duration: 2s;
	animation-iteration-count: 1;
}

header nav>button {							/* De SLUIT BUTTON */
	justify-self: start;
	background-color: var(--color-social-background);
}

header>button {								/*hamburger button*/
	justify-self: end;
}

form button, main section:nth-of-type(6) button{
	border: none;
	background-color: var(--color-selected);
	color: var(--color-background);
}

main>section:nth-of-type(1)>button{			/*Kerst thema button*/
	text-transform: uppercase;
	border: 4px solid;
	border-image: var(--color-christmas-theme-button);
	padding: 1em;
	margin: 1em 0 1em 3em;
}


main section button {						/* per film & per dag buttons*/
	border: 1px solid var(--color-border);
}

main>section:nth-of-type(2)>button:nth-of-type(2) {		/*per film button styling*/
	animation-name:clickButton;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-delay: 5s;
	background: var(--color-button-linear);
	border: none;
	color: var(--color-background);
}


main section button:nth-of-type(3) {		/*filter button*/
	width: 6em;
	padding-left: 3em;
	margin-left: 7em;
	background-color: var(--color-social-background);
	border-radius: 2em;
	text-align: center;
	position: relative;
	border: none;
}

main section button:nth-of-type(3) img {	/*filter icon*/
	position: absolute;
	top: .5em;
	left: 1em;
	width: 1.5em;
}


/*////////*/

a {
	text-decoration: none;
	color: var(--color-text);
	letter-spacing: .1em;
	font-size: 1.2em;
}

a:hover {
	border: 4px solid;
	border-image: var(--color-border-linear);
	box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.ticket a:hover, .ticket header li:first-of-type a:hover {
	border: 1px solid var(--color-text);
	background: var(--color-button-linear);
	color: var(--color-background);
	scale: 2;
}

a:focus-visible {
	box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

a:active, main a:active {
	box-shadow: none;
	background-color: var(--color-selected);
	color: var(--color-background);
	animation-name: clickButton;
	animation-duration: 2s;
	animation-iteration-count: 1;
}

main>section>section>a {
	width: 100%;
}

main li>section>a {
	background-color: var(--color-background);
	color: var(--color-text);
	border: 1px solid var(--color-border);
	border-radius: .5em;
	padding: 1em 2em;
	margin-top: 1em;
	cursor: pointer;
	text-align: left;
}

article a {											/*nieuws en Blogs*/
	color: var(--color-selected);
}

main>section:nth-of-type(4) a:last-of-type {		
	font-size: 1.2em;
	padding: .5em 1em;
	margin: 1em;
	text-transform: uppercase;
	border: 3px solid;
	border-image: var(--color-border-linear);			/*bron: https://developer.mozilla.org/en-US/docs/Web/CSS/border-image & https://www.digitalocean.com/community/tutorials/css-gradient-borders-pure-css*/
}

footer a {
	color: var(--color-text-secundair);
	line-height: 1.7em;
	margin-right: 1em;
}





/****************/
/*Header*/
/****************/
body>header nav {
	grid-column: span 3;
}

body:not(.ticket)>header>nav.toonMenu {
	translate: 0% 0%;
}

header section {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

header>section>a>img,
header a>img {
	height: 2em;
	width: auto;
	margin: .8em 0 0 1em;
}

header nav ul {
	grid-column: span 3;
}

header nav ul li {
	border: none;
	padding: 1em 1em 0 1em;
	font-size: 1.3em;
}

header nav ul li:first-of-type {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	margin: 0;
	position: relative;
}

header nav ul li:first-of-type img {
	width: 3em;
	height: auto;
}

header li h1 {
	font-size: 1.3em;
	margin: 0;
}

header p {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 2em;
	left: 4.2em;
}

header nav ul li:nth-of-type(7) {
	border-bottom: 1px solid var(--color-border);
	padding-bottom: 2em;
}

header nav ul li:nth-of-type(8) a,
header nav ul li:nth-of-type(9) a,
header nav ul li:nth-of-type(10) a {
	font-size: 1em;
	color: var(--color-text-secundair);
}


header>button img,
header nav>button img {
	height: 2em;
	width: auto;
	margin-top: 1em;
}

header nav ul li a img {
	height: 1.5em;
	width: auto;
	margin: .5em .7em 0 0;
}






/****************/
/*Header nav Tickets*/
/****************/

.ticket h1{
	margin-top: 1em;
}

.ticket section:first-of-type a {
	margin-top: .5em;
}

.ticket ol {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	padding: .2em;
	background-color: var(--color-social-background);
	margin: 1em 0;
}


.ticket li {
	border-bottom: none;
	padding: 1em .5em;
	border-right: 1px solid var(--color-text-secundair)
}

.ticket nav a {
	border: none;
}

.ticket li:nth-of-type(4) {
	border: none;
}

.ticket li:first-of-type a {
	color: var(--color-selected);
	margin: 0;
	padding: 0;
}

.ticket header nav ol li:first-of-type {
	border-bottom: 4px solid var(--color-selected);
	margin-left: 0;
}






/****************/
/*Film secties*/
/****************/

li section {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

li section:first-child {
	grid-column-start: 1;
}


li section:nth-of-type(2) {
	grid-column-start: 2;
	margin-left: 0;
	align-items: start;
}

li section>img {
	width: 33vw;
	height: auto;
}

main section>ul>li>section a>img {
	width: 1em;
	height: 1em;
}








/****************/
/*reclame/blogs*/
/****************/

main>section:nth-of-type(1)>p{
	color: var(--color-reclame);
	font-size: 1em;
	margin-left: 1em;
	font-weight: 600;
	font-style: italic;
}

main>section:first-of-type p>img{
	width: 2em;
	animation-name: itsMe;
	animation-duration: 2s;
	animation-iteration-count: 2;
}

main>section:nth-of-type(1) section {		/* header/grote afbeelding bovenin de pagina */
	overflow-x: scroll;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

main>section a img {					
	width: 19em;
	height: auto;
}

main>section:nth-of-type(3) {			/*nieuws & Blogs*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

main>section:nth-of-type(3)>img {
	height: 3em;
	width: auto;
	margin-top: 1em;
}

main>section:nth-of-type(3) article img{
	height: 1em;
	width: auto;
}

article h2 {
	margin-bottom: .5em;
}

main>section:nth-of-type(4){
	margin: 5em 0;
}

main>section:nth-of-type(3)>h2, 			/* Nieuws & Blogs*/
main>section:nth-of-type(4) h2 {			/* Soft sound screening*/
	font-size: 2em;
	margin: .5em;
}

main>section:nth-of-type(4) p {			/* Soft sound screening*/
	color: var(--color-reclame);
	font-size: 1.2em;
	margin: 1em 1em 2em 1em;
}

main>section:nth-of-type(4) img{
	width: 100%;
	height: auto;
}

main>section:nth-of-type(5),			/* social & nieuwsbrief*/
main>section:nth-of-type(6) {
	background-color: var(--color-social-background);
	width: 100vw;
	margin: 2em 0;
	padding: 2em 1em;
}

main>section:nth-of-type(5) ul {		/* social*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 1em 0;
}

main>section:nth-of-type(5) li {
	display: flex;
	flex-wrap: wrap;
	width: 4em;
	height: auto;
	padding: 1em 0 0 0;
}

main>section:nth-of-type(5) li a {
	text-align: center;
	font-size: 1em;
}

main>section:nth-of-type(5) li img {
	height: 3em;
	width: auto;
}

main>section:nth-of-type(5) li,
main>section:nth-of-type(6) li {
	border: none;
}






/****************/
/*Ticket bestellen*/
/****************/

/* Ticket informatie*/
.ticket details summary section:first-of-type{	
	grid-column: span 2;
}

.ticket details section:first-of-type img{
	width: 100%;
}

.ticket details summary section:nth-of-type(2){
	grid-column: span 4;
}


summary::after{ 			/*pijl bij details					bron: Vasilis van Gemert & https://developer.mozilla.org/en-US/docs/Web/CSS/::after*/
	content: url(../images/arrow-down.png);
	display:inline-block;
	width: 0;
	height: 0;
	grid-column-start: 7;
	justify-self: center;
	align-self: center;

	animation-name: rotateArrowClose;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}  

details[open] summary::after{
	animation-name: rotateArrowOpen;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

/*stoelen kaart*/
.ticket main>section:first-of-type img{
	width: 100%;
}

.ticket main>section:first-of-type p{
	text-align: center;
	margin: 0;
	padding: 0;
}

.ticket main>section:first-of-type section{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 2em;
}

.ticket main>section:first-of-type section img{
	height: auto;
	width: 1em;
	margin: .5em;
	opacity: 0.7;
}





/*Legenda stoelen*/
.ticket main>section:nth-of-type(2){
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.ticket main>section:nth-of-type(2) p{
	margin-right: 1em;
	margin-top: 0;
}

.ticket main>section:nth-of-type(2) img{
	width: 1.5em;
	margin: 0 .5em 0 0;
}





/****************/
/*footer overzicht*/
/****************/

footer select {
	color: var(--color-text-secundair);
	background-color: var(--color-social-background);
	border-radius: .5em;
	padding: 1em 1.5em;
	margin: 1em;
	width: 90%;
}

footer section {
	margin: 0;
	padding: .5em;
	display: flex;
	flex-wrap: wrap;
}

footer li {
	display: flex;
	flex-wrap: wrap;
	border: none;
	/* padding: 2em .2em; */
	width: 50%;
}

footer h2 {
	padding: 2em 0em 1em 1em;
}


footer section:nth-of-type(3)>a {
	margin: 1em 2em;
	padding: 1em 3em .5em 3em;
	border: 1px solid var(--color-border);
	border-radius: 1em;
	width: 100%;
	text-align: center;
}

footer section:last-of-type,
footer p {
	padding: 1em 1em 2em 1em;
	font-size: .8em;
	justify-content: space-around;
	align-items: start;
}

footer img {
	height: 6em;
	width: auto;
	margin: 0;
	font-size: 0.6em;
}

footer section:nth-of-type(3) img {
	height: 3em;
	width: auto;
}



/****************/
/*footer stoelkeuze film (legenda & buttons*/
/****************/

body.ticket {
	position: relative;
}

.ticket footer{
	position: sticky;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	background-color: var(--color-background);
	padding: 1em .5em;
}

.ticket footer img{
	width: 2em;
	height: auto;
}

.ticket footer a:first-of-type{
	margin-top: .8em;
}

.ticket footer a:nth-of-type(2){
	background: var(--color-button-linear);
	color: var(--color-background);
	padding: .5em 1em;
	margin: 0;
	text-transform: uppercase;
	border-radius: .5em;
}



/*/////////////////////////////////*/
/*////////////Animaties////////////*/
/*/////////////////////////////////*/


@keyframes itsMe {
	0% {
	  transform: rotate(0deg);
	  translate:0em 0em; 
	}
	20% {
	  transform: rotate(-10deg);
	  scale: 2;
	  translate:0em -1em; 
	}
	40% {
		transform: rotate(10deg);
	  scale: 2;
	  translate:0em -1em; 
	}
	60% {
		transform: rotate(-10deg);
	  scale: 2;
	  translate:0em -1em; 
	}
	80% {
		transform: rotate(-10deg);
	  scale: 2;
	  translate:0em -1em; 
	}
	100% {
		transform: rotate(0deg);
	  translate:0em 0em; 
	}
}

@keyframes clickButton{
	0%{
		scale:1;
	  }
	  10%{
		translate:0em 0em;
		scale:1.2 .8; 
	  }
	  20%{
		translate:0em -.25em; 
		scale:.6 1.5;
	  }
	  30%{
		translate:0em 0em;
		scale:1.3 .7;
	  }
	  40%{
		scale:.9 1.1;
	  }
	  50%{
		scale:1;
	  }
	  100%{
		scale:1;
	  }
}

@keyframes rotateArrowOpen {
	0%{
		transform: rotate(0deg);
		scale: .15;
	}
	100%{
		transform: rotate(180deg);
		scale: .15;
	}
}

@keyframes rotateArrowClose {
	0%{
		transform: rotate(180deg);
		scale: .15;
	}
	100%{
		transform: rotate(0deg);
		scale: .15;
	}
}